{% extends 'base.html' %}
{% block content %}
<section class="hero">
    <div class="hero-content">
        <h1 class="hero-title">Every doubt matters. Every answer empowers.</h1>
        <p class="hero-paragraph">
           We’re here to make learning simple, step-by-step, and crystal clear.
        </p>
        {% if user.is_authenticated %}
        <div class="hero-options">
            <a href="{% url 'edubase:question-lists' %}" class="btn btn-developers" style="margin-left: 5px;">Latest Queries</a>
        </div>
        {% else %}
        <div class="hero-options">
            <a href="{% url 'login' %}" class="btn btn-developers" style="margin-left: 5px;">Latest Queries</a>
        </div>
        {% endif %}
    </div>
</section>
<section class="questions">
    <div class="container">
       <div class="questions-content">
           <div class="questions-header">
               <h3 class="question-title">Questions are everywhere, answers are on EduMentor</h3>
           </div>
           <div class="questions-body">
               <div class="questions-body-items">
                   <div class="questions-body-item" data-id="0">
                       <img src="https://cdn.sstatic.net/Img/home/ask-a-question.svg?v=f4f2050b0297" alt="" class="question-item-icon">
                       <div class="question-item-text">Ask a question</div>
                       <div class="question-arrow-right"></div>
                   </div>
                   <div class="questions-body-item"  data-id="1">
                       <img src="https://cdn.sstatic.net/Img/home/votes.svg?v=748a8f48a8e2" alt="" class="question-item-icon">
                       <div class="question-item-text">Vote on everything</div>
                       <div class="question-arrow-right"></div>
                   </div >
                   <div class="questions-body-item"  data-id="2">
                       <img src="https://cdn.sstatic.net/Img/home/answer.svg?v=4cd8048a676c" alt="" class="question-item-icon">
                       <div class="question-item-text">Answer questions</div>
                       <div class="question-arrow-right"></div>
                   </div>
               </div>
               <div class="questions-body-item-content">
                   <img src="https://cdn.sstatic.net/Img/home/illo-feats-vote.svg?v=9d2eb0efdc17" alt="" class="question-item-content-img">
                  
                   {% if user.is_authenticated %}
                     <h4 class="question-item-content-text">
                       Accept the answer which solved your problem to let others benefit from the valuable information.
                   </h4>
                    {% else %}
                    <a href="{% url 'register' %}" class="btn btn-orange question-item-content-btn">Create an account</a>
                    {% endif %}
               </div>
               <div class="questions-body-items">
                   <div class="questions-body-item"  data-id="3">
                       <img src="https://cdn.sstatic.net/Img/home/tags.svg?v=913379eb09eb" alt="" class="question-item-icon">
                       <div class="question-item-text">Tag your question</div>
                       <div class="question-arrow-left"></div>
                   </div>
                   <div class="questions-body-item"  data-id="4">
                       <img src="https://cdn.sstatic.net/Img/home/accept.svg?v=27d5be078970" alt="" class="question-item-icon">
                       <div class="question-item-text">Accept a answer</div>
                       <div class="question-arrow-left"></div>
                   </div>
                   <div class="questions-body-item"  data-id="5">
                       <img src="https://cdn.sstatic.net/Img/home/get-recognized.svg?v=3b339d9aa10c" alt="" class="question-item-icon">
                       <div class="question-item-text">Get recognized</div>
                       <div class="question-arrow-left"></div>
                   </div>
               </div>
           </div>
       </div>
    </div>
</section>

{% endblock content %}
